<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Online_Shop.UI</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.css" />
    @if (ViewData["payment"] is null == false)
    {
        <link rel="stylesheet" href="~/css/checkout.css"/>
    }
</head>
<body>
    <a class="nav-link text-dark" asp-area="" asp-page="/Admin/Index">Admin</a>
    <a asp-page="/Accounts/Login">Sign In</a>
    <a asp-action="Logout" asp-controller="Account">Logout</a>

    <div class="container">
        @RenderBody()
    </div>

    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
