@page
@model Online_Shop.UI.Pages.CartModel
@{
}

<div class="container">
    <div class="columns">
        <partial name="_CartPartial" model="@Model.Cart"/>
    </div>
</div>

@section scripts{
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script>
        function addOneToCart(event) {
            let stockId = event.target.dataset.stockId;
            axios.post("/Cart/AddOne/" + stockId).then(res => 
                {
                    updateCart();
                }).catch(error => alert(error));
        }

        function removeOneFromCart(event) {
            let stockId = event.target.dataset.stockId;
            removeFromCart(stockId, 1);
        }

        function removeAllFromCart(event) {
            let stockId = event.target.dataset.stockId;
            let id = "stock-" + stockId;
            let container = document.getElementById(id);
            let quantity = parseInt(container.innerText);

            removeFromCart(stockId, quantity);
        }

        function removeFromCart(stockId, quantity) {
            axios.post("/Cart/RemoveProduct/" + stockId + "/" + quantity).then(res => 
                {
                    updateCart();
                }).catch(error => alert(error));
        }

        function updateCart() {
            //axios.get("/Cart/GetCartComponent").then(res => {
            //    let html = res.data;
            //    let el = document.getElementById("cart-nav");
            //    el.outerHTML = html;
            //});

            axios.get("/Cart/GetCartMain").then(res => {
                let html = res.data;
                let el = document.getElementById("cart-main");
                el.outerHTML = html;
            })
        }
    </script>
}