@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    @foreach(var product in Model.Products)
    {
        <p>
            <a asp-page="Product" asp-route-name="@product.Name">
                @product.Name - @product.Description - @product.Value
            </a>
        </p>
    }
</div>
